In [16]:
import pandas as pd

In [17]:
# reference the data
data = "data/metal_band_country_cleaned.csv"
#this .csv was downloaded from kaggle

In [18]:
# Read our Data file with the pandas library
df = pd.read_csv(data)

In [19]:
#view the data
df.head()

  Country/Territory  Metal bands per 100000 people  Bands  Population
0       Afghanistan                          0.005      2  37,466,414
1           Albania                          0.227      7   3,088,385
2           Algeria                          0.037     16  43,576,691
3         Argentina                          4.158  1,907  45,864,941
4           Armenia                          0.631     19   3,011,609

In [20]:
#rename columns
df = df.rename(columns = { 'Country/Territory':'Country','Metal bands per 100000 people':'Metal_bands_per_100000_people'})

In [21]:
#make country the index
df = df.set_index(list(df)[0])

In [22]:
#save clean .csv
df.to_csv('data/metal_bands_clean.csv')

In [23]:
#view the data
df.head()

             Metal_bands_per_100000_people  Bands  Population
Country
Afghanistan                          0.005      2  37,466,414
Albania                              0.227      7   3,088,385
Algeria                              0.037     16  43,576,691
Argentina                            4.158  1,907  45,864,941
Armenia                              0.631     19   3,011,609