In [1]:
import pandas as pd

In [2]:
# # Read the JSON file into a pandas DataFrame
# df = pd.read_json('data/combined_json.json')

# # Reset the index to convert the row index into a column
# df.reset_index(inplace=True)

# df

In [3]:
# Convert the DataFrame to CSV
# df.to_csv('working_json.csv', index=False)

In [4]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('working_json.csv', header = 1)

df.set_index('Country', inplace = True)
df.head()

,Afghanistan,Albania,Algeria,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahrain,Bangladesh,...,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Venezuela,Vietnam,Zimbabwe
Country,,,,,,,,,,,,,,,,,,,,,
iso-a2,AF,AL,DZ,AR,AM,AU,AT,AZ,BH,BD,...,UG,UA,AE,GB,US,UY,UZ,VE,VN,ZW
iso-a3,AFG,ALB,DZA,ARG,ARM,AUS,AUT,AZE,BHR,BGD,...,UGA,UKR,ARE,GBR,USA,URY,UZB,VEN,VNM,ZWE
Metal_bands_per_100000_people,0.005,0.227,0.037,4.158,0.631,5.986,7.473,0.088,0.393,0.04,...,0.004,1.634,0.142,4.911,5.241,3.561,0.029,1.18,0.02,0.013
Bands,2,7,16,"1,907",19,"1,545",664,9,6,65,...,2,715,14,"3,244","17,557",121,9,343,21,2
Population,"37,466,414","3,088,385","43,576,691","45,864,941","3,011,609","25,809,973","8,884,864","10,282,283","1,526,929","164,098,818",...,"44,712,143","43,745,640","9,856,612","66,052,076","334,998,398","3,398,239","30,842,796","29,069,153","102,789,598","14,829,988"

In [5]:

df_T = df.T.reset_index()
df_T.reset_index(drop = True, inplace = True)
df_T.rename(columns={'index':'country'}, inplace = True)
df_T

Country,country,iso-a2,iso-a3,Metal_bands_per_100000_people,Bands,Population,Happiness,GDP_per_capita,Social_support,Life_expectancy,...,Generosity,Corruption,Dystopia,Contribution_GDP_per_capita,Contribution_Social_support,Contribution_Life_expectancy,Contribution_Freedom,Contribution_Generosity,Contribution_Corruption,Contribution_Dystopia
0,Afghanistan,AF,AFG,0.005,2,"37,466,414",2.523,7.695,0.463,52.493,...,-0.102,0.924,2.43,0.37,0,0.126,0,0.122,0.01,1.895
1,Albania,AL,ALB,0.227,7,"3,088,385",5.117,9.52,0.697,68.999,...,-0.03,0.901,2.43,1.008,0.529,0.646,0.491,0.168,0.024,2.25
2,Algeria,DZ,DZA,0.037,16,"43,576,691",4.887,9.342,0.802,66.005,...,-0.067,0.752,2.43,0.946,0.765,0.552,0.119,0.144,0.12,2.242
3,Argentina,AR,ARG,4.158,"1,907","45,864,941",5.929,9.962,0.898,69,...,-0.182,0.834,2.43,1.162,0.98,0.646,0.544,0.069,0.067,2.461
4,Armenia,AM,ARM,0.631,19,"3,011,609",5.283,9.487,0.799,67.055,...,-0.168,0.629,2.43,0.996,0.758,0.585,0.54,0.079,0.198,2.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Uruguay,UY,URY,3.561,121,"3,398,239",6.431,9.966,0.925,69.1,...,-0.092,0.59,2.43,1.164,1.042,0.649,0.625,0.128,0.223,2.6
111,Uzbekistan,UZ,UZB,0.029,9,"30,842,796",6.179,8.836,0.918,65.255,...,0.311,0.515,2.43,0.769,1.027,0.528,0.716,0.391,0.271,2.477
112,Venezuela,VE,VEN,1.18,343,"29,069,153",4.892,9.073,0.861,66.7,...,-0.169,0.827,2.43,0.852,0.897,0.574,0.284,0.078,0.072,2.135
113,Vietnam,VN,VNM,0.02,21,"102,789,598",5.411,8.973,0.85,68.034,...,-0.098,0.796,2.43,0.817,0.873,0.616,0.679,0.124,0.091,2.211
114,Zimbabwe,ZW,ZWE,0.013,2,"14,829,988",3.145,7.943,0.75,56.201,...,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205

In [6]:
# Drop the column index
# df = df.reset_index(drop=True)
# df

In [7]:
# Convert the DataFrame to a dictionary with row headers
data_dict = df_T.to_json('js_complete.json', orient='records')

data_dict

In [8]:
# Convert the dictionary to JSON
# import json

# # # Write the JSON data to a file
# with open('js_complete.json', 'w') as json_file:
#     json.dump(data_dict, json_file)