In [1]:
import pandas as pd

In [2]:
# reference the data
data = "metal_bands.csv"
#this .csv was downloaded from kaggle

In [3]:
# Read our Data file with the pandas library
df = pd.read_csv(data)

In [4]:
#view the data
df.head()

  Country/Territory  Metal bands per 100000 people Bands  Population
0       Afghanistan                          0.005     2  37,466,414
1           Albania                          0.227     7   3,088,385
2           Algeria                          0.037    16  43,576,691
3           Andorra                          2.335     2      85,645
4            Angola                          0.024     8  33,642,646

In [8]:
#rename columns
df = df.rename(columns = { 'Country/Territory':'Country','Metal bands per 100000 people':'Metal_bands_per_100000_people'})

In [10]:
df.head()

       Country  Metal_bands_per_100000_people Bands  Population
0  Afghanistan                          0.005     2  37,466,414
1      Albania                          0.227     7   3,088,385
2      Algeria                          0.037    16  43,576,691
3      Andorra                          2.335     2      85,645
4       Angola                          0.024     8  33,642,646