In [13]:
#import dependencies
import sqlite3
from sqlite3 import Error
from pathlib import Path
from sqlalchemy import create_engine, inspect
import pandas as pd

In [17]:
# creaate the database
Path('happiness.sqlite').touch()
#defining the database
conn = sqlite3.connect('happiness.sqlite')
#connect to database
c = conn.cursor()

In [21]:
# Create a reference to the file. 
database_path = Path("Happiness.sqlite")

In [22]:
# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")

In [ ]:
# add 2021 happiness table
c.execute('''CREATE TABLE Happiness_2021(Country text Primary Key, Happiness real, GDP_per_capita real,Social_support real,Life_expectancy real,Freedom real,Generosity real,Corruption real,Dystopia real,Contribution_GDP_per_capita real,Contribution_Social_support real,Contribution_Life_expectancy real,Contribution_Freedom real,Contribution_Generosity real,Contribution_Corruption real,Contribution_Dystopia real);''')

In [33]:
#add metal table and make it reference the happiness table
c.execute('''CREATE TABLE Bands_2021(Country text Primary Key, Metal_bands_per_100000_people, Bands, Population, Foreign Key (Country) References Happiness_2021(Country));''')

In [ ]:
#check column names for Happiness Table

# Create the inspector and connect it to the engine
inspector = inspect(engine)
# Collect the names of tables within the database
inspector.get_table_names()
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('Happiness_2021')
columns

In [ ]:
#check column names for Band Table

# Create the inspector and connect it to the engine
inspector = inspect(engine)
# Collect the names of tables within the database
inspector.get_table_names()
# Using the inspector to print the column names within the 'dow' table and its types
columns = inspector.get_columns('Bands_2021')
columns

In [24]:
# load the happiness data into a Pandas DataFrame
happiness_data = pd.read_csv('2021_Clean.csv')
# write the happiness data to a sqlite table
happiness_data.to_sql('Happiness_2021', conn, if_exists='append', index = False)

149

In [37]:
# load the band data into a Pandas DataFrame
happiness_data = pd.read_csv('metal_bands_clean.csv')
# write the happiness data to a sqlite table
happiness_data.to_sql('Bands_2021', conn, if_exists='append', index = False)

145

In [27]:
#view the Happiness data
pd.read_sql('''SELECT * FROM Happiness_2021''',conn)

,Country,Happiness,GDP_per_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption,Dystopia,Contribution_GDP_per_capita,Contribution_Social_support,Contribution_Life_expectancy,Contribution_Freedom,Contribution_Generosity,Contribution_Corruption,Contribution_Dystopia
0,Finland,7.842,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,7.620,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,7.571,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,7.554,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,7.464,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,3.415,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [38]:
#view the Band data
pd.read_sql('''SELECT * FROM Bands_2021''',conn)

         Country  Metal_bands_per_100000_people Bands   Population
0    Afghanistan                          0.005     2   37,466,414
1        Albania                          0.227     7    3,088,385
2        Algeria                          0.037    16   43,576,691
3        Andorra                          2.335     2       85,645
4         Angola                          0.024     8   33,642,646
..           ...                            ...   ...          ...
140      Uruguay                          3.561   121    3,398,239
141   Uzbekistan                          0.029     9   30,842,796
142    Venezuela                          1.180   343   29,069,153
143      Vietnam                          0.020    21  102,789,598
144     Zimbabwe                          0.013     2   14,829,988

[145 rows x 4 columns]

In [44]:
#design a query to pull data from the database
pd.read_sql('''SELECT * FROM Bands_2021 b INNER JOIN Happiness_2021 h ON b.Country = h.Country''', conn)

,Country,Metal_bands_per_100000_people,Bands,Population,Country,Happiness,GDP_per_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption,Dystopia,Contribution_GDP_per_capita,Contribution_Social_support,Contribution_Life_expectancy,Contribution_Freedom,Contribution_Generosity,Contribution_Corruption,Contribution_Dystopia
0,Afghanistan,0.005,2,"37,466,414",Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895
1,Albania,0.227,7,"3,088,385",Albania,5.117,9.520,0.697,68.999,0.785,-0.030,0.901,2.43,1.008,0.529,0.646,0.491,0.168,0.024,2.250
2,Algeria,0.037,16,"43,576,691",Algeria,4.887,9.342,0.802,66.005,0.480,-0.067,0.752,2.43,0.946,0.765,0.552,0.119,0.144,0.120,2.242
3,Argentina,4.158,"1,907","45,864,941",Argentina,5.929,9.962,0.898,69.000,0.828,-0.182,0.834,2.43,1.162,0.980,0.646,0.544,0.069,0.067,2.461
4,Armenia,0.631,19,"3,011,609",Armenia,5.283,9.487,0.799,67.055,0.825,-0.168,0.629,2.43,0.996,0.758,0.585,0.540,0.079,0.198,2.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Uruguay,3.561,121,"3,398,239",Uruguay,6.431,9.966,0.925,69.100,0.896,-0.092,0.590,2.43,1.164,1.042,0.649,0.625,0.128,0.223,2.600
111,Uzbekistan,0.029,9,"30,842,796",Uzbekistan,6.179,8.836,0.918,65.255,0.970,0.311,0.515,2.43,0.769,1.027,0.528,0.716,0.391,0.271,2.477
112,Venezuela,1.180,343,"29,069,153",Venezuela,4.892,9.073,0.861,66.700,0.615,-0.169,0.827,2.43,0.852,0.897,0.574,0.284,0.078,0.072,2.135
113,Vietnam,0.020,21,"102,789,598",Vietnam,5.411,8.973,0.850,68.034,0.940,-0.098,0.796,2.43,0.817,0.873,0.616,0.679,0.124,0.091,2.211
114,Zimbabwe,0.013,2,"14,829,988",Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205