In [ ]:
#import dependencies
import sqlite3
from sqlite3 import Error
from pathlib import Path
from sqlalchemy import create_engine, inspect
import pandas as pd
from json import loads, dumps
from flask import jsonify

In [ ]:
#defining the database
conn = sqlite3.connect('happiness.sqlite')
#connect to database
c = conn.cursor()

In [11]:
#view the Happiness data
pd.read_sql('''SELECT * FROM Happiness_2021''',conn)

,Country,Happiness,GDP_per_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption,Dystopia,Contribution_GDP_per_capita,Contribution_Social_support,Contribution_Life_expectancy,Contribution_Freedom,Contribution_Generosity,Contribution_Corruption,Contribution_Dystopia
0,Finland,7.842,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,7.620,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,7.571,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,7.554,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,7.464,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Madagascar,4.208,7.396,0.686,59.305,0.552,-0.005,0.803,2.43,0.266,0.503,0.341,0.207,0.185,0.087,2.620
111,India,3.819,8.755,0.603,60.633,0.893,0.089,0.774,2.43,0.741,0.316,0.383,0.622,0.246,0.106,1.405
112,Botswana,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
113,Zimbabwe,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
114,Afghanistan,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [12]:
#view the Band data
pd.read_sql('''SELECT * FROM Bands_2021''',conn)

         Country  Metal_bands_per_100000_people  Bands   Population
0    Afghanistan                          0.005      2   37,466,414
1        Albania                          0.227      7    3,088,385
2        Algeria                          0.037     16   43,576,691
3      Argentina                          4.158  1,907   45,864,941
4        Armenia                          0.631     19    3,011,609
..           ...                            ...    ...          ...
110      Uruguay                          3.561    121    3,398,239
111   Uzbekistan                          0.029      9   30,842,796
112    Venezuela                          1.180    343   29,069,153
113      Vietnam                          0.020     21  102,789,598
114     Zimbabwe                          0.013      2   14,829,988

[115 rows x 4 columns]

In [13]:
#view the Country_Code data
pd.read_sql('''SELECT * FROM Country_Codes''',conn)

         Country iso_a2 iso_a3
0    Afghanistan     AF    AFG
1        Albania     AL    ALB
2        Algeria     DZ    DZA
3      Argentina     AR    ARG
4        Armenia     AM    ARM
..           ...    ...    ...
110      Uruguay     UY    URY
111   Uzbekistan     UZ    UZB
112    Venezuela     VE    VEN
113      Vietnam     VN    VNM
114     Zimbabwe     ZW    ZWE

[115 rows x 3 columns]

In [14]:
#design a query to pull data from the database
combined_df = pd.read_sql('''SELECT b.Country , b.Metal_bands_per_100000_people , b.Bands , b.Population , h.Happiness , 
h.GDP_per_capita , h.Social_support , h.Life_expectancy, h.Freedom , h.Generosity , h.Corruption , h.Dystopia , 
h.Contribution_GDP_per_capita , h.Contribution_Social_support , h.Contribution_Life_expectancy , h.Contribution_Freedom, 
h.Contribution_Generosity , h.Contribution_Corruption , h.Contribution_Dystopia , c.iso_a2 , c.iso_a3
FROM Bands_2021 b INNER JOIN Happiness_2021 h INNER JOIN Country_Codes c WHERE b.Country = h.Country and b.Country = c.Country''', conn)
#make country the index
#combined_df = combined_df.set_index(list(combined_df)[0])
combined_df.head()

,Country,Metal_bands_per_100000_people,Bands,Population,Happiness,GDP_per_capita,Social_support,Life_expectancy,Freedom,Generosity,...,Dystopia,Contribution_GDP_per_capita,Contribution_Social_support,Contribution_Life_expectancy,Contribution_Freedom,Contribution_Generosity,Contribution_Corruption,Contribution_Dystopia,iso_a2,iso_a3
0,Afghanistan,0.005,2,"37,466,414",2.523,7.695,0.463,52.493,0.382,-0.102,...,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895,AF,AFG
1,Albania,0.227,7,"3,088,385",5.117,9.520,0.697,68.999,0.785,-0.030,...,2.43,1.008,0.529,0.646,0.491,0.168,0.024,2.250,AL,ALB
2,Algeria,0.037,16,"43,576,691",4.887,9.342,0.802,66.005,0.480,-0.067,...,2.43,0.946,0.765,0.552,0.119,0.144,0.120,2.242,DZ,DZA
3,Argentina,4.158,"1,907","45,864,941",5.929,9.962,0.898,69.000,0.828,-0.182,...,2.43,1.162,0.980,0.646,0.544,0.069,0.067,2.461,AR,ARG
4,Armenia,0.631,19,"3,011,609",5.283,9.487,0.799,67.055,0.825,-0.168,...,2.43,0.996,0.758,0.585,0.540,0.079,0.198,2.127,AM,ARM

In [15]:
#save the json
combined_df.to_json('combined_json.json',orient = 'index')